body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    position: relative;
    /* Cambia esta ruta a la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;
    background-color: #0367A6;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 61, 165, 0.6);
    /* Superposición azul con opacidad */
    z-index: 0;
}

.header h1 {
    font-size: 48px;
    margin: 0;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header .contact {
    margin-top: 20px;
    z-index: 1;
    position: relative;
    font-size: 18px;
}

.header .contact i {
    margin-right: 10px;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #011126;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input{
    max-width: 585px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select,
button {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0367A6;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #048ABF;
}

/* estilos resultado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    position: relative;
    /* Cambia esta ruta a la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 61, 165, 0.6);
    /* Superposición azul con opacidad */
    z-index: 0;
}

.header h1 {
    font-size: 48px;
    margin: 0;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultado p {
    font-size: 18px;
    color: #011126;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #0367A6;
    /* Azul IPM */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #048ABF;
}